<div>
    <h2>Pagina de usuarios</h2>
    {{#each people}}
        <p>Nombre: {{this.name}} 
        <p> Apellido: {{this.apellido}}</p> 
        <p>Edad: {{this.edad}}</p>    
   
    {{/each}}
    <h3>Email: {{email}}</h3>
</div>